<a href="https://colab.research.google.com/github/Lucas-Buk/Machine-Learning-Metodos-Nao-Prob/blob/main/Aula_3_Ex1_carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Pós/ML MNP/Datasets/A2EX3-carsmall-mod.csv')
df.head()

   Acceleration  Cylinders  ...  Model_Year_76  Model_Year_82
0          12.0          8  ...              0              0
1          11.5          8  ...              0              0
2          11.0          8  ...              0              0
3          12.0          8  ...              0              0
4          10.5          8  ...              0              0

[5 rows x 12 columns]

In [ ]:
print(f'Nomas das variáveis: {df.columns}')

Nomas das variáveis: Index(['Acceleration', 'Cylinders', 'Displacement', 'Horsepower', 'Model',
       'Model_Year', 'MPG', 'Origin', 'Weight', 'Model_Year_70',
       'Model_Year_76', 'Model_Year_82'],
      dtype='object')

In [ ]:
# Modelo 1 (Aceleração, Volume, Potência)
X1 = df[['Acceleration','Displacement','Horsepower']]
y1 = df['MPG']

print(f"Dimensões de X1: {X1.shape}")
print(f"Dimensões de y1: {y1.shape}")

# Modelo 2 (Aceleração, Volume, Peso)
X2 = df[['Acceleration','Displacement','Weight']]
y2 = df['MPG']

print(f"Dimensões de X2: {X2.shape}")
print(f"Dimensões de y2: {y2.shape}")

# Modelo 3 (Volume, Potência, Peso)
X3 = df[['Displacement','Horsepower', 'Weight']]
y3 = df['MPG']

print(f"Dimensões de X3: {X3.shape}")
print(f"Dimensões de y3: {y3.shape}")

Dimensões de X1: (93, 3)
Dimensões de y1: (93,)
Dimensões de X2: (93, 3)
Dimensões de y2: (93,)
Dimensões de X3: (93, 3)
Dimensões de y3: (93,)

In [ ]:
# Treinamento do Modelo 1
modelo1 = LinearRegression()
modelo1.fit(X1,y1)

print(f'Coeficiente linear: {modelo1.intercept_}')
print(f'Coeficientes angulares: {modelo1.coef_}')

Coeficiente linear: 48.5154475729185
Coeficientes angulares: [-0.51797101 -0.0359865  -0.08846691]

In [ ]:
# Treinamento do Modelo 2
modelo2 = LinearRegression()
modelo2.fit(X2,y2)

print(f'Coeficiente linear: {modelo2.intercept_}')
print(f'Coeficientes angulares: {modelo2.coef_}')

Coeficiente linear: 45.96566138850381
Coeficientes angulares: [ 0.06153903 -0.01264766 -0.00696286]

In [ ]:
# Treinamento do Modelo 3
modelo3 = LinearRegression()
modelo3.fit(X3,y3)

print(f'Coeficiente linear: {modelo3.intercept_}')
print(f'Coeficientes angulares: {modelo3.coef_}')

Coeficiente linear: 47.182318106603624
Coeficientes angulares: [-0.0053631  -0.03456242 -0.00627752]

In [ ]:
# Coeficiente de determinação do modelo 1
R21 = modelo1.score(X1,y1)
print(f'R1² = {R21}')

n = len(y1)      # Quantidade de dados de treino (=93)
k = X1.shape[1]  # Quantidade de variáveis independentes do modelo (=3)
R21ajust = 1-((n-1)/(n-k-1))*(1-R21)  # R^2 ajustado
print("Coeficiente de determinação ajustado do modelo 1 =", R21ajust)

R1² = 0.6986195843475816
Coeficiente de determinação ajustado do modelo 1 = 0.6884606939323316

In [ ]:
# Coeficiente de determinação do modelo 2
R22 = modelo2.score(X2,y2)
print(f'R2² = {R22}')

R22ajust = 1-((n-1)/(n-k-1))*(1-R22)  # R^2 ajustado
print("Coeficiente de determinação ajustado do modelo 2 =", R22ajust)

R2² = 0.747203836629127
Coeficiente de determinação ajustado do modelo 2 = 0.7386826176390976

In [ ]:
# Coeficiente de determinação do modelo 3
R23 = modelo3.score(X3,y3)
print(f'R3² = {R23}')

R23ajust = 1-((n-1)/(n-k-1))*(1-R23)  # R^2 ajustado
print("Coeficiente de determinação ajustado do modelo 3 =", R23ajust)

R3² = 0.7527675885918469
Coeficiente de determinação ajustado do modelo 3 = 0.744433911802808

In [ ]:
# Avaliação do RMSE
from sklearn.metrics import mean_squared_error

y1_prev = modelo1.predict(X1)
print('RMSE modelo 1:', mean_squared_error(y1,y1_prev, squared = False))

y2_prev = modelo2.predict(X2)
print('RMSE modelo 2:', mean_squared_error(y2,y2_prev, squared = False))

y3_prev = modelo3.predict(X3)
print('RMSE modelo 3:', mean_squared_error(y3,y3_prev, squared = False))

RMSE modelo 1: 4.411271585840515
RMSE modelo 2: 4.040094485055009
RMSE modelo 3: 3.995388223446182

In [ ]:
# Bônus
# Validação cruzada k-folds no modelo 3
from sklearn.model_selection import cross_val_score
 
aval = cross_val_score(modelo3,X3,y3,cv = 10,scoring = 'neg_root_mean_squared_error')
print('Valores do RMSE',-aval)
m = np.mean(-aval)
dp = np.std(-aval, ddof=1)
CV = 100*dp/m
print(f'Variação percentual do RMSE = {CV:.2f}%')

Valores do RMSE [4.00425291 6.03294437 2.97926777 3.03449368 3.17253886 3.26311272
 3.67012069 4.41408645 7.12411281 6.08578866]
Variação percentual do RMSE = 34.30%